.searchContainer {
  background-color: #cde7ff;
  padding: 0px 60px;
  padding-bottom: 50px;
  width: 100%;
}

.perfectJob {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.inputContainer {
  width: 732px;
  height: 75px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 3px rgb(167, 167, 167);
  background-color: white;
}

.absolutLogoS {
  position: absolute;
  left: 20px;
  top: 30px;
}

.absolutLogoL {
  position: absolute;
  top: 30px;
  left: 300px;
}

.inputPosition,
.inputCity {
  width: 39.7%;
  height: 100%;
  padding-left: 90px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  transition: none;
  border: none;
}

.searchBtn {
  width: 192px;
  height: 100%;
  background-color: #274059;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.83px;
  cursor: pointer;
}
