.searchContainer {
  background-color: #cde7ff;
  padding: 0px 60px;
  padding-bottom: 50px;
  width: 100%;
}

.perfectJob {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.inputContainer {
  width: 732px;
  height: 75px;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 3px rgb(167, 167, 167);
  background-color: white;
}

.inputCity > div,
.inputPosition > div {
  width: 300px;
  height: 75px;
  padding-left: 200px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  transition: none;
  border-radius: 0;
}

.searchBtn {
  width: 192px;
  height: 100%;
  background-color: #274059;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.83px;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .searchContainer {
    padding: 0px 50px;
    padding-bottom: 40px;
  }
  .inputContainer {
    width: 632px;
    height: 65px;
  }
  .inputCity > div,
  .inputPosition > div {
    width: 260px;
    height: 65px;
    font-size: 16px;
  }
}

@media screen and (max-width: 980px) {
  .searchContainer {
    padding: 0px 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 800px) {
  .searchContainer {
    padding: 0px 30px;
    padding-bottom: 30px;
  }
  .inputContainer {
    width: 432px;
    height: 45px;
  }
  .inputCity > div,
  .inputPosition > div {
    width: 170px;
    height: 45px;
    font-size: 14px;
  }
  .searchBtn {
    font-size: 15px;
  }
}

@media screen and (max-width: 495px) {
  .searchContainer {
    padding: 0px 20px;
    padding-bottom: 20px;
  }
  .inputContainer {
    width: 262px;
    height: 35px;
  }
  .inputCity > div,
  .inputPosition > div {
    width: 100px;
    height: 35px;
    font-size: 12px;
  }
  .searchBtn {
    font-size: 12px;
  }
}
