.categoriesContainer {
  background-color: #e4f2ff;
  padding: 80px 60px;
}

.categoriesParph {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.87px;
  margin-bottom: 50px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
  column-gap: 20px;
}

.showMoreLess,
.mainCategories {
  max-width: 270px;
  height: 198px;
  box-shadow: 2px 2px 2px rgb(166, 166, 166);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 30px;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  cursor: pointer;
}

.showMoreLess {
  border: 2px solid rgb(173, 172, 172);
  background-color: transparent;
}

.mainCategories {
  background-color: white;
  border: none;
}

.mainCategories:hover {
  background-color: rgb(235, 233, 233);
}

.showMoreLess:hover {
  background-color: rgb(181, 181, 181);
}

@media screen and (max-width: 980px) {
  .categoriesContainer {
    padding: 50px 40px;
  }
  .categoriesParph {
    margin-bottom: 30px;
  }
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
  }
  .showMoreLess,
  .mainCategories {
    max-width: 200px;
    height: 158px;
    gap: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 800px) {
  .categoriesContainer {
    padding: 40px 30px;
  }
  .categoriesParph {
    margin-bottom: 30px;
  }
  .gridContainer {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
  }
  .showMoreLess,
  .mainCategories {
    height: 148px;
    font-size: 14px;
  }
}

@media screen and (max-width: 615px) {
  .categoriesContainer {
    padding: 20px 30px;
  }
  .categoriesParph {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .showMoreLess,
  .mainCategories {
    height: 118px;
    font-size: 14px;
  }
}
