.navContainer {
  background-color: #cde7ff;
  display: flex;
  align-items: center;
  padding: 30px 60px;
  gap: 20px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

.navLogo {
  width: 111px;
  height: 40px;
  cursor: pointer;
}

.linksContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerLinkBtnCont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLinks {
  color: #000000cc;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
}

.navBtn {
  width: 65px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
}

@media screen and (max-width: 980px) {
  .navContainer {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 615px) {
  .navContainer {
    padding: 15px 30px;
    gap: 15px;
  }
  .navLogo {
    width: 91px;
  }
  .innerLinkBtnCont {
    gap: 15px;
  }
  .navLinks {
    font-size: 13px;
  }
  .navBtn {
    width: 55px;
    height: 34px;
    padding-top: 8px;
    font-size: 12px;
    font-weight: 500;
  }
}
