.partnerContainer {
  padding: 50px 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partnerParagraph {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.78px;
}

.imagContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}

.imagesArr {
  width: 115px;
  height: 41.78px;
}
