.partnerContainer {
  padding: 50px 60px;
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.partnerParagraph {
  font-size: 16px;
  font-weight: 600;
  line-height: 18.78px;
}

.imagContainer {
  display: flex;
  gap: 40px;
  align-items: center;
}

.imagesArr {
  width: 115px;
  height: 41.78px;
}

@media screen and (max-width: 1120px) {
  .partnerContainer {
    padding: 30px 40px;
  }
  .imagesArr {
    width: 85px;
    height: 41.78px;
  }
  .partnerParagraph {
    font-size: 14px;
  }
  .imagContainer {
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .partnerContainer {
    padding: 20px 30px;
  }
  .imagesArr {
    width: 65px;
    height: 31.78px;
  }
}

@media screen and (max-width: 615px) {
  .partnerContainer {
    padding: 15px 30px;
  }
  .imagesArr {
    width: 45px;
    height: 21.78px;
  }
  .partnerParagraph {
    font-size: 12px;
  }
  .imagContainer {
    gap: 10px;
  }
}
