.footerContainer {
  background-color: #52606d;
  padding: 50px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.popularCities {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
}

.citiesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.citiesContainer > a {
  color: #d0e8ff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  line-height: 25.83px;
}

.footerContainer > hr {
  border: 2px solid #465461;
  width: 100%;
}

.logosContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smallerLogoDiv {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 980px) {
  .footerContainer {
    padding: 40px 40px;
    gap: 30px;
  }
  .popularCities {
    font-size: 20px;
    line-height: 22.83px;
  }
  .citiesContainer > a {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.83px;
  }
}

@media screen and (max-width: 670px) {
  .footerContainer {
    padding: 30px 30px;
    gap: 20px;
  }
  .popularCities {
    font-size: 16px;
  }
  .citiesContainer > a {
    font-size: 12px;
  }
  .smallerLogoDiv {
    gap: 20px;
  }
}
