.vacancyComtainer {
  background-color: #e4f2ff;
  padding-top: 10px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vacancyComtainer > h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.87px;
  margin-left: 60px;
  align-self: start;
}

.vacancyComtainer > p {
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  color: #8d8d8dcc;
  margin-bottom: 50px;
  margin-left: 60px;
  align-self: start;
}

.smallContainer {
  width: 100%;
}

.vacancyDiv {
  max-width: 433px;
  height: 350px;
  background-color: white;
  box-shadow: 2px 2px 2px rgb(166, 166, 166);
  border: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
  padding-left: 40px;
  cursor: pointer;
}

.greyP {
  color: #8d8d8dcc;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
}

.mainTexyVaca {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
}

.companyName {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.vacancyDiv > a {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #274059;
}

.vacancyDiv:hover {
  background-color: rgb(235, 233, 233);
}

.categoryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  margin-left: 60px;
  margin-right: 60px;
}

.categoryName {
  background-color: #92c9fc7d;
  padding: 20px;
  padding-left: 90px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.showMoreBtn {
  text-decoration: none;
  text-align: center;
  padding-top: 17px;
  width: 236px;
  height: 63px;
  margin-top: 60px;
  background-color: #274059;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.48px;
}

@media screen and (max-width: 980px) {
  .categoryContainer {
    column-gap: 15px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .vacancyComtainer {
    padding-bottom: 60px;
  }
  .vacancyComtainer > p {
    margin-bottom: 10px;
    margin-left: 40px;
  }
  .vacancyComtainer > h1 {
    margin-left: 40px;
  }
  .vacancyDiv {
    max-width: 333px;
    height: 235px;
    gap: 15px;
    padding-left: 20px;
    cursor: pointer;
  }
  .greyP {
    font-size: 14px;
  }
  .mainTexyVaca {
    font-size: 19px;
  }
  .companyName {
    font-size: 17px;
    line-height: 18px;
  }
  .vacancyDiv > a {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }
  .categoryName {
    padding: 10px;
    padding-left: 60px;
    margin-top: 15px;
  }
  .showMoreBtn {
    margin-top: 40px;
    font-size: 18px;
    padding-top: 14px;
    width: 200px;
    height: 53px;
  }
}
