.modalContainer {
  display: flex;
  justify-content: space-around;
  background-color: #e4f2ff;
  padding: 80px 60px;
  gap: 20px;
}

.modalContainer > form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  box-shadow: 3px 3px 3px rgb(166, 166, 166);
  min-width: 500px;
  align-items: center;
  gap: 20px;
}

.modalContainer > form > label {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  line-height: 17.61px;
  color: #8d8d8dcc;
}

.modalContainer > form > h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32.87px;
}

.hiddenPar {
  color: red;
  font-size: 15px;
  font-weight: 400;
  line-height: 17.61px;
}

.modalContainer > form > label > input {
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  box-shadow: 3px 3px 3px rgb(167, 167, 167);
  border: 1px solid rgb(188, 188, 188);
}

.modalContainer > form > label > input:focus {
  outline: none;
}

form > button {
  background-color: #274059;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 20.83px;
  cursor: pointer;
  height: 50px;
  width: 120px;
  box-shadow: 3px 3px 3px rgb(167, 167, 167);
}
